@media (min-width: 1360px) {
  .container {
    max-width: 1384px;
  }
}
@media (max-width: 1364px) {
  .element_items {
    padding: 0;
  }
}
@media (max-width: 1360px) {
  .contact_block,
  .weather_block {
    display: none !important;
  }
}
@media (max-width: 1200px) {
  .elemenet_block {
    padding-left: 0;
  }
  .element_items {
    padding: 0 40px;
  }
  .news_sm_title {
    font-size: 20px;
  }
  .see_more {
    font-size: 16px;
  }
  .news_box {
    margin-bottom: 30px;
  }
  .bottom_block > div {
    flex-direction: column;
  }
  .element_box:hover {
    transform: translateY(-15px);
  }
  .info_block .title_ {
    font-size: 40px;
  }
  .s1 .swiper-button-prev {
    left: 0;
  }
  .s1 .swiper-button-next {
    left: 50px;
  }
  .img_block {
    height: 600px;
  }
  .element_message {
    font-size: 20px;
  }
  .top_info span {
    font-size: 50px;
    padding-right: 15px;
  }
  .top_info p {
    font-size: 16px;
  }
  .back-to-top {
    bottom: 20px;
    right: 20px;
  }
  .img {
    height: 300px;
  }
  .announcement_img {
    height: 100%;
  }
  .announcement_block {
    padding: 20px;
  }
  .img_banner {
    height: 200px;
  }
}
@media (max-width: 991px) {
  .border_right {
    display: none;
  }
  .top_block,
  .bottom_block {
    padding: 40px 30px;
  }
  .element_news_block {
    padding: 15px;
  }
  .news_element_img {
    height: 340px;
  }
  .announcement_img {
    height: 250px;
  }
  .announcement_img img {
    border-radius: 15px;
  }
  .announcement_block {
    border: 0;
    padding: 0;
  }
  .li_element {
    padding: 15px;
  }
  .doc {
    border-left: 0;
  }
  .elm_li li {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .info_section {
    margin-bottom: 40px;
  }
  .footer_ {
    margin: 0;
  }
  .top_block {
    box-shadow: none;
    padding: 20px 0;
  }
  .footer_bottom_block,
  .msg_form {
    flex-direction: column;
  }

  .footer_item {
    padding: 30px 0;
  }
  .info_block .title_ {
    width: 100%;
    font-size: 30px;
  }
  .element_items {
    padding: 0px;
  }
  .img_block {
    height: 500px;
  }
  .s1 .swiper-button-next,
  .s1 .swiper-button-prev {
    bottom: 100px;
  }
  .msg_form input {
    width: 100%;
    margin-bottom: 20px;
  }
  .subscribe_btn {
    width: 100%;
    margin: 0;
  }
  .slide_section {
    padding-left: 15px;
    margin: 0;
  }
  .team_img {
    height: 250px;
  }
}
@media (max-width: 575px) {
  .img {
    height: 200px;
  }
}
